* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Scroll mas suabisado */
 html {
    scroll-behavior: smooth;
} 

/* FIN Scroll mas suabisado */
section[id] {
    scroll-padding-top: 60px;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
    /* Solucion para posicionar el footer abajo */
    /* position: relative;
    min-height: 100vh; */

    /* Solucion para posicionar el footer abajo con flex*/
    /* display: flex;
    flex-direction: column;
    min-height: 100vh;  */

    /* Solucion para posicionar el footer abajo con grid */
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

}

/* cabezera de pagina */
#logo {
    width: 45px;
    height: 45px;
    position: absolute;
    margin: 10px;
    margin-left: 30px;
}

#menu {
    display: none;
}

#header {
    background-color: #0e293c;
    width: 100%;
    height: 60px;
    position: fixed;

}

#header ul {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;

}

#header ul li {
    margin: 20px;
    list-style: none;

}

#header ul li a {
    text-decoration: none;
    color: #fff;
}

#header ul li a:hover {
    text-decoration: underline;
    padding: 1px;
    color: #fff;
}

/* FIN cabezera de pagina */

/* Section carrusel */
.carrusel {
    width: 100%;
    height: 400px;
    margin-top: 60px;
    object-fit: cover;

}

.imgbanner {
    width: 100%;
    height: 100%;
}

/* FIN Section carrusel */


/* section de articulos Title  */
.title-container{
    display: flex;
    justify-content: center;
    
}

.title_sesion {
    
    /* titulo articulo y formulario contacto */
    text-align: center;
    padding: 10px;
    background-color: #0e293c;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 30px;

    
}

/* FINsection de articulos Title  */

/*  section de articulos  */
#card_container {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
   

}

.cards {
    min-width: 200px;
    margin: 10px;
    background-color: #c0f0fa;
    border-radius: 10px;
    transform: 0.2s;
}

.cards:hover {
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
}

.card-img img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.card-body h2 {
    text-align: center;
}

.card-body p {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.card-footer a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    background-color: #031523;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #383838;
    transform: 0.2s;
}

.card-footer a:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid black;
}

/*  FIN section de articulos  */

/* section formulario contacto */
#Container_formulario {
    max-width: 100%;
    /* height: 500px; */
    background-image: url(./assets/img/bannercorreo.jpg);
    background-size: cover;
    /* padding: 20px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

    
}


.artitle-correo {
    background-color: #0e293cde;
    max-width: 600px;
    font-weight: bold;
    padding: 20px;
    font-style: italic;
    color: #fff;

}


#container_inputs {
    /* background-color: #0e293cde; */
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 40px;
    margin-top: 10px;
}


.label {
    margin-top: 20px;
    display: flex;

}

.input {
    margin-top: 10px;
    background: none;
    border: none;
    outline: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.send {
    background-color: #c0f0fa;
    width: 100px;
    height: 40px;
    margin: auto;
    font-weight: bold;
    background: #fff;
    border-radius: 10px;
    margin-top: 20px;
}



/* FIN section formulario contacto */

/* footer */
#footer {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #031523;
    color: #fff;
    /* Solución para posicionar el footer abajo */
    /* position: absolute;
    bottom: 0px;        */

    /* Solución para posicionar el footer abajo con flex */
    /* margin-top: auto; */
}

#footer p {
    margin: 10px;
} 

/*FIN footer */


/* Medidas Web Responsive Design */
@media only screen and (max-width: 1024px) {
    /*  body {
        background-color: yellow;
    }*/
    #header ul li {
        margin: 20px;
    }

    #header ul li a {
        font-size: 13px;
    }

    .carrusel {
        height: auto;
        object-fit: cover;
    }

    .title_sesion {
        max-width: 130px;
        font-size: 20px;
        /* margin: auto; */
        justify-content: center;

    }

    #card_container {
        display: grid;
        grid-template-columns: 1fr 1fr ; 
        justify-content: space-around;
        gap: 10px;
        /* margin:20px ; */
    }

    /* .cards {
        margin: 10px auto;

    } */

    #Container_formulario {
        display: flex;
        flex-direction: column;
        background-size: inherit;
    }

    #container_inputs {
        margin-top: 20px;
        background-color: #0e293cde;
    }

    #container_inputs {
        width: auto;

    }


}

@media only screen and (max-width: 768px) {
    /* body {
        background-color: red;
    } 

    #header ul li {
        margin: 20px;
    }

    #header ul li a {
        font-size: 13px;
    }

    .carrusel {
        height: auto;
        object-fit: cover;
    }

    .title_sesion {
        max-width: 130px;
        font-size: 20px;
    }

    #card_container {
        display: grid;
        grid-template-columns: 1fr 1fr ; 
    }

    .cards {
        margin: 10px auto;

    }

    #Container_formulario {
        display: flex;
        flex-direction: column;
        background-size: inherit;
    }

    #container_inputs {
        margin-top: 20px;
    }

    #container_inputs {
        width: auto;

    }*/
}

@media only screen and (max-width: 320px) {
    /* body {
        background-color: green;
    } */

    #header ul li {
        margin: 15px;
    }

    #header ul li a {
        font-size: 15px;
    }

    #card_container {
        display: flex;
        flex-direction: column;
        margin: 5px;

    }
}