* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Scroll mas suabisado */
html {
    scroll-behavior: smooth;
}

/* FIN Scroll mas suabisado */
section[id] {
    scroll-padding-top: 60px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* Solucion para posicionar el footer abajo */
    /* position: relative;
    min-height: 100vh; */

    /* Solucion para posicionar el footer abajo con flex*/
    /* display: flex;
    flex-direction: column;
    min-height: 100vh;  */

    /* Solucion para posicionar el footer abajo con grid */
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

}

/* Toogle menu */
.toggle-menu {
    width: 40px;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    filter: invert(1);
    display: none;
    z-index: 1;
}

.toggle-menu img {
    max-width: 100%;
}

.menu-input-checkbox {
    display: none;
}



/* fin Toogle menu */

/* cabezera de pagina */
#logo {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
}



#header {
    background-color: #0e293c;
    width: 100%;
    height: 60px;
    position: fixed;

}

#header ul {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;

}

#header ul li {
    margin: 20px;
    list-style: none;

}

#header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

#header ul li a:hover {
    text-decoration: underline;
    padding: 1px;
    color: #fff;
}

/* FIN cabezera de pagina */

/* Section carrusel */
.carrusel {
    max-width: 100%;
    /* min-width: 320px; */
    height: 500px;
    margin-top: 60px;

}

.imgbanner {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* FIN Section carrusel */


/* section de articulos Title  
titulo articulo y formulario contacto*/

.title-container {
    display: flex;
    justify-content: center;

}

.title_sesion {
    text-align: center;
    padding: 15px;
    background-color: #0e293c;
    width: 400px;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 3rem;
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
}

/* fin section de articulos Title  
titulo articulo y formulario contacto*/

/*  section de articulos  */
#card_container {
    display: flex;
    justify-content: space-around;

}

.cards {
    min-width: 200px;
    margin: 10px;
    background-color: #c0f0fa;
    border-radius: 10px;
    transition: 0.2s;
}

.cards:hover {
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
}

.card-img img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}

.imgpos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.card-body h2 {
    text-align: center;
}

.card-body p {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.card-footer a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    background-color: #031523;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #383838;
    transition: 0.2s;
}

.card-footer a:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid black;
}

/*  FIN section de articulos  */

/* section formulario contacto */
#Container_formulario {
    width: 100%;
    background-image: url("./assets/img/imagen-correo.webp");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.artitle-correo {
    background-color: #0e293cde;
    max-width: 600px;
    font-weight: bold;
    padding: 20px;
    font-style: italic;
    color: #fff;
}

.container_inputs {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 40px;
    margin-top: 10px;
}

.label {
    margin-top: 20px;
    display: flex;
}

.input {
    margin-top: 10px;
    background: none;
    border: none;
    outline: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.send {
    background-color: #c0f0fa;
    width: 100px;
    height: 40px;
    margin: auto;
    font-weight: bold;
    background: #fff;
    border-radius: 10px;
    margin-top: 20px;
}

/* FIN section formulario contacto */

/* footer */
#footer {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #031523;
    color: #fff;
    /* Solución para posicionar el footer abajo */
    /* position: absolute;
    bottom: 0px;        */

    /* Solución para posicionar el footer abajo con flex */
    /* margin-top: auto; */
}

#footer p {
    margin: 10px;
}

/*FIN footer */


/* Medidas Web Responsive Design */
@media only screen and (max-width: 1024px) {

    /* body {
        background-color: yellow;
    } */

    /* cabezera de pagina */
    #header ul li {
        margin: 20px;
    }

    /* #header ul li a {
        font-size: 1em;
    } */

    /* fin cabezera de pagina */

    /* Section carrusel */
    .carrusel {
        height: auto;
        object-fit: cover;
    }

    /* fin Section carrusel */

    /* section de articulos Title titulo articulo y formulario contacto*/
    .title_sesion {
        max-width: 130px;
        font-size: 20px;
        justify-content: center;
    }


    /* section de articulos Title titulo articulo y formulario contacto*/

    /*  section de articulos  */
    #card_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        gap: 10px;
    }

    /*  FIN section de articulos  */

    /* section formulario contacto */

    #Container_formulario {
        display: flex;
        flex-direction: column;
        /* background-size: inherit; */
        object-fit: cover;
        width: 100%;
    }

    .container_inputs {
        margin: 20px;
        width: 70%;
        background-color: #0e293cde;

    }


    /* fin section formulario contacto */
}

@media only screen and (max-width: 768px) {
    /* body {
        background-color: red;
    } */

    /* Toogle menu */
    .main-menu {
        flex-direction: column;
        transition: transform 0.3s;
        transform: translateY(-100%);
        background-color: #0e293c;

    }

    .main-nav--show {
        transform: translateY(0);
        /* height: auto;
        padding: 0px; */

    }

    /* menu oculto co checkbok */
    /* .menu-input-checkbox:checked+#main-nav {
        transform: translateY(0);
    } */

    .toggle-menu {
        display: block;
    }

    /* fin menu oculto co checkbok */

    /* Toggle menu x */
    #toggle-menu .hamburger-icon {
        width: 40px;
        height: 40px;
        background: url('./assets/img/bars-solid.svg') no-repeat;
        background-size:cover;
        background-position: center;
        /* filter: drop-shadow(1px 2px 1px (0, 0, 0, .1)); */
    }
  
    #toggle-menu.active .hamburger-icon {
        background: url('./assets/img/xmark-solid.svg') no-repeat;
        background-size: cover;
        background-position: center;
    }

    /* fin  Toggle menu x */


    /* #main-nav {
        background-color: #0e293c;
        height: 150px;
        z-index: 1;

    } */

    /* .toggle-menu {
       margin-bottom: -30px;
    } */

    #header ul li a {
        display: flex;
        justify-content: center;
    }

    /* finToogle menu */


    /* section card  contacto */

    #card_container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 10px;
    }

    /* fin section card contacto */

    /*  section formulario contacto */
    .container_inputs {
        width: 80%;

    }

    /* fin section formulario contacto */

}

@media only screen and (max-width: 320px) {

    /* body {
        background-color: green;
    } */

    /* cabezera de pagina */
    #header ul li {
        margin: 15px;
    }



    /* fin cabezera de pagina */

    /* section card */
    #card_container {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    /* fin section card */
    
    /* section formulario contacto */
    .container_inputs {
        width: 90%;

    }

    /* fin section formulario contacto */
}